<!doctype html>
<html lang="en">

{% include 'head.html' %}

<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>Model selection</h2>
            <p class="lead">Choose a model below or create a new one to use the tool.</p>
        </div>

        <div class="row">
            <div class="col-md-4 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Available models</span>
                    {% if model_list|length > 0 %}
                    <span class="badge badge-secondary badge-pill">{{ model_list|length }}</span>
                    {% endif %}
                </h4>
                <form class="mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="search">
                    </div>
                </form>
                <div class="list-overflow">
                    <ul class="list-group mb-1">
                        {% for model in model_list %}
                        {% if model.id is not sameas selected %} <a href="/model/{{model.id}}" class="dataset-link">
                            {% endif %}
                            <li
                                class="list-group-item d-flex justify-content-between lh-condensed {% if model.id == selected %} bg-light selected-model {% endif %} ">
                                <div>
                                    <h6 class="my-0">
                                        {{model.dataset.name}}</h6>
                                    <small
                                        class="text-muted">{{model.description}}</small>
                                </div>
                                <span
                                    class="{% if model.id == selected %} text-success {% else %} text-muted  {% endif %}">{{model.words}}
                                    words</span>
                            </li>
                            {% if model.id is not sameas selected %} </a> {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <a href="/add_dataset" class="btn btn-secondary btn-block" role="button">Train new model</a>


            </div>
            <div class="col-md-8">
                {% if model %}
                <h4 class="mb-3 text-muted">Model: {{model.dataset.name}} - {{model.label.name}}</h4>
                <hr class="mb-4">
                <p>{{model.description}}</p>
                <p><strong>Number of Words in dataset:</strong> {{model.dataset.words}}</p>
                <p><strong>Distinct words in model:</strong> {{model.words}}</p>
                <p><strong>Labels:</strong> <span class="text-success">{{model.label.positive_labels}}</span> positive -
                    <span class="text-danger">{{model.label.negative_labels}}</span> negative</p>
                    <hr/>
                <p><strong>Minimum count:</strong> {{model.min_count}}</p>
                <p><strong>Window size:</strong> {{model.window}}</p>
                <p><strong>Iterations:</strong> {{model.iterations}}</p>
                <a href="/explore/{{model.id}}" class="btn btn-success btn-lg btn-block" role="button">Use database</a>
                {% else %}
                <div class="alert alert-secondary" role="alert">
                    Select a model on the left to explore!
                </div>
                {% endif %}
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</body>

</html>