<!doctype html>
<html lang="en">

{% include 'head.html' %}

<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>Explore the dataset</h2>
        </div>
        <div class="jumbotron p-4">
            <div class="row">
                <div class="col-md-3"><a href="/" class="btn btn-lg btn-secondary btn-block" role="button">Back </a>
                </div>
                <div class="col-md-3"><strong>Dataset:</strong><br /> {{ model.dataset.name }}</div>
                <div class="col-md-3"><strong>Labels:</strong><br /> {{ model.label.name }}</div>
                <div class="col-md-3">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="swTrees">
                        <label class="custom-control-label" for="swTrees" title="Related words won't show links between them" style="cursor:help;">Force Tree</label>
                      </div>
                    <strong>Threshold:</strong> <span id='ThresholdValue'>{{set_t}}</span><br />
                    <input type="range" class="custom-range" id="ThresholdSelector" max="{{max_t}}" min="{{min_t}}" step='0.01' value="{{set_t}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Positive Words</span>
                </h4>
                <form class="mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control search-field" placeholder="search (1000 words)">
                    </div>
                </form>
                <div class='list-overflow'>
                    <ul class="list-group mb-1">
                        {% for word in words %}
                        {% if word[1] != selected %} <a href="/explore/{{model.id}}/{{word[1]}}" class="dataset-link">
                            {% endif %}
                            <li
                                class="list-group-item searcheable-item d-flex justify-content-between lh-condensed pt-1 pb-1  {% if  word[1]==selected%} bg-light selected-model {% endif %} ">
                                <div>
                                    <span class="my-0 searchable-content">{{word[1]}}</span>
                                </div>
                                <span class="text-muted score">{{"%.2f"|format(word[0])}}</span>
                            </li>
                            {% if word is not sameas selected %} </a>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="col-md-3 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Related Words</span>
                </h4>

                <div class='list-overflow related-words'>
                    <ul class="list-group mb-1 ">
                        {% for word in related_words %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed pt-1 pb-1">
                            <div>
                                <span class="my-0">{{word[1]}}</span>
                            </div>
                            <span class="text-muted score">{{"%.2f"|format(word[0])}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="col-md-6">
                <canvas width="500" height="350"></canvas>

            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</body>
<script>
     function reloadGraph() {
            
            tval = $('#ThresholdValue').text();
            model_id = {{model.id}};
            word = '{{selected}}';
            trees = $('#swTrees').is(":checked");
            if(word!='None'){
                doGraph(model_id,word,tval,trees);
            }
    
        }
    $(document).ready(()=>{
       
        reloadGraph();

        $('#ThresholdSelector').change(reloadGraph);
        $('#swTrees').change(reloadGraph);
        $('#ThresholdSelector').on('input', ()=>{
            $('#ThresholdValue').text($('#ThresholdSelector').val());
        });
    });
</script>
</html>